@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');

$dark: #5f639d;
$light: #f7f4e9;
$warning: #eba63f;
$info: #3bb273;
$primary: #3cbcc3;
$secondary: #a5a6e5;
$error: #e40c2b;

$body-font-family: 'Montserrat', sans-serif;
$heading-font-family: 'Montserrat', sans-serif;

$chip-padding: 0 22px !important;
$chip-group-margin: 6px 12px 6px 0;
$icon-sizes: (
  'large': (
      'height': 38
    ),
);

$data-table-regular-header-height: 52px !important;
$data-table-regular-row-height: 52px !important;