@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');

$body-font-family: 'Montserrat', sans-serif;
$heading-font-family: 'Montserrat', sans-serif;

$chip-padding: 0 22px !important;
$chip-group-margin: 6px 12px 6px 0;
$icon-sizes: (
  'large': (
      'height': 38
    ),
);